<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de mí</title>
</head>
<body>
    <h1>Acerca de mí</h1>
    <p>Soy Carlos Iglesias, tengo 20 años y el básquet es mi pasión. Disfruto cada partido, tanto en la cancha como desde las gradas. Además, soy amante de los gatos, mi compañero se llama Mango y cuido de el tanto como el de mi. 
    En mis momentos de relax, me dejo llevar por la música de Arctic Monkeys, mi banda favorita. Bienvenido a mi mundo, donde el deporte, los animales y la música se fusionan para crear mi día a día.</p>
    
    <img src= mango.jpg alt="Mi gato Mango" width="300" height="auto">

    <a href="{% url 'home' %}">Volver a la Home</a>

</body>
</html>